* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}


body {
  background: lightgrey;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.App{
  height: 100vh;
}
.canvas{
  height: 80vh
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20vh;
}

.button{
  /* align-self: flex-start; */
  /* font-family: 'Anton', sans-serif; */
  font-family: "San Francisco";
  font-weight: 800;
  font-size: 50px;
  background: rgb(9,62,220);
  background: linear-gradient(0deg, rgba(9,62,220,1) 80%, rgba(126,187,235,1) 100%);
  border: none;
  color: white;
  /* padding: 10px; */
  border-radius: 10px;
  /* border:7px solid rgba(9,62,220,1); */
  outline:7px solid rgba(9,62,220,1);
  box-sizing: border-box;
  height: 75px;
  width: 75px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px 0px rgba(126,187,235,1);
  transition: all 0.2s;
}
.button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 50px 10px rgba(126,187,235,1);
}

@media only screen and (max-width: 500px) {
  .button{
    font-size: 30px;
    width: 35px;
    height: 35px;
  }
}